@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225 28% 10%;

    --card: 0 0% 100%;
    --card-foreground: 225 28% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 28% 10%;

    --primary: 160 100% 58%;
    --primary-foreground: 225 28% 10%;

    --secondary: 236 100% 95%;
    --secondary-foreground: 225 28% 10%;

    --muted: 0 0% 97%;
    --muted-foreground: 225 28% 10%;

    --accent: 155 100% 91%;
    --accent-foreground: 225 28% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 91%;
    --input: 0 0% 95%;
    --ring: 236 100% 93%;

    --radius: 0.75rem;

    --sidebar-background: 236 100% 96%;
    --sidebar-foreground: 225 28% 10%;
    --sidebar-primary: 160 100% 58%;
    --sidebar-primary-foreground: 225 28% 10%;
    --sidebar-accent: 236 100% 95%;
    --sidebar-accent-foreground: 225 28% 10%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 160 100% 58%;
  }

  .dark {
    --background: 210 5% 17%;
    --foreground: 0 0% 97%;

    --card: 210 5% 17%;
    --card-foreground: 0 0% 97%;

    --popover: 210 5% 17%;
    --popover-foreground: 0 0% 97%;

    --primary: 160 100% 58%;
    --primary-foreground: 225 28% 10%;

    --secondary: 236 100% 95%;
    --secondary-foreground: 225 28% 10%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 155 100% 91%;
    --accent-foreground: 225 28% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 97%;

    --border: 0 0% 25%;
    --input: 0 0% 20%;
    --ring: 236 100% 93%;
    
    --sidebar-background: 210 5% 17%;
    --sidebar-foreground: 0 0% 97%;
    --sidebar-primary: 160 100% 58%;
    --sidebar-primary-foreground: 225 28% 10%;
    --sidebar-accent: 236 100% 95%;
    --sidebar-accent-foreground: 225 28% 10%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 160 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
